<!-- quiz.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math Quiz</title>
    <link
    rel="stylesheet"
    href="{%static 'css/bootstrap.min.css' %}"
    type="text/css"
  />
  <link rel="stylesheet" href="{%static 'css/quiz.css' %}" />
  </head>

  <body>
    <form action="/submit/" id="quizFormSubmit">
      {% csrf_token %}
      <h1>Math Quiz</h1>

      <input
        type="hidden"
        name="quiz_type"
        value="{{ quiz_questions.first.quiz_type }}"
        id="quiz_type"
      />
      {% for question in quiz_questions %}
      <div class="questions-container">
        <p>Question {{ forloop.counter }}: {{ question.question_text }}</p>
        <ul>
          <li>
            <input
              type="radio"
              name="question{{ question.id }}"
              value="{{ question.option1 }}"
              id="option1_{{ question.id }}"
            /><label for="option1_{{ question.id }}"
              >{{ question.option1 }}</label
            >
          </li>
          <li>
            <input
              type="radio"
              name="question{{ question.id }}"
              value="{{ question.option2 }}"
              id="option2_{{ question.id }}"
            /><label for="option2_{{ question.id }}"
              >{{ question.option2 }}</label
            >
          </li>
          <li>
            <input
              type="radio"
              name="question{{ question.id }}"
              value="{{ question.option3 }}"
              id="option3_{{ question.id }}"
            /><label for="option3_{{ question.id }}"
              >{{ question.option3 }}</label
            >
          </li>
          <li>
            <input
              type="radio"
              name="question{{ question.id }}"
              value="{{ question.option4 }}"
              id="option4_{{ question.id }}"
            /><label for="option4_{{ question.id }}"
              >{{ question.option4 }}</label
            >
          </li>
        </ul>
      </div>
      {% endfor %}

      <button type="submit">Submit</button>
    </form>
    <script src="{% static 'js/subQuiz.js' %}"></script>
    <script src="{% static 'js/quiz.js' %}"></script>
  </body>
</html>
